@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

p,
input[type="text"],
input[type="email"],
input[type="number"],
textarea,
label{
  font-family: "Montserrat", sans-serif;
}

html {
  overflow-x: hidden;
  width: 100%;
}

ul *{
  list-style-type: none;
}

.top-buffer{
	margin-top:20px;
}

.btn{
	background-color: #97bd0d;
    color: white;
    font-size: 12pt !important;
    border-radius: 17px;
    padding: 15px;
    font-family: "Montserrat", sans-serif;
}

/*---------navbar-----------*/
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-brand img {
  width: 110px;
  padding: 10px;
}
nav.navbar ul li {
  list-style-type: none;
}
nav.navbar ul li a {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15pt;
  margin-left: 10px;
  padding: 5px;
}
nav.navbar ul li a:hover {
  color: white;
  background-color: #97bd0d;
  border-radius: 12px;
  text-decoration: none;
}
.navbar-nav ul li {
  float: left;
  text-align: left;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-toggler {
  outline: none;
}
/*-------end navbar--------*/

/*-------banner--------*/
section#banner img {
  width: 100%;
}

section#banner h1 {
  text-align: center;
  padding-top: 50px;
}

h1.quote {
  font-weight: bolder;
  margin-top: 50px;
  margin-bottom: 50px;
  color: darkslategray;
  opacity: 0.7;
  font-size: 38pt;
}

div#button {
  text-align: center;
  padding-bottom: 70px;
}

/* .fa {
  font-size: 21pt;
} */

.btn {
  background-color: #97bd0d;
  color: white;
  font-size: 20pt;
  border-radius: 17px;
  padding: 15px;
  font-family: "Montserrat", sans-serif;
}

a.tellink{
	color:white;
}

a.tellink a:hover{
	color:white;
	text-decoration: none;
}
/*------end banner-------*/

/*------services section-------*/

#services {
  background-color: #f5faf6;
  padding: 50px;
  margin-top: 20px;
}
#services h1{
	width: 400px;
    margin: auto;
    display: block;
    padding-bottom: 20px;
}
#services h2 {
  width: 300px;
  margin: auto;
  display: block;
}
#services img {
  width: 400px;
  height: 400px;
  padding-bottom: 10px;
  margin: auto;
  display: block;
}
#services p {
  width: 300px;
  height: 100px;
  margin: auto;
  display: block;
}
#services p a {
  text-decoration: underline;
  color: #97bd0d;
  font-size: 15pt;
  width: 300px;
  margin: auto;
  display: block;
}
/*------end services section-------*/

/*------services-2 section-------*/

#services-2 {
  padding: 50px;
  margin-top: 20px;
}
#services-2 h2 {
  width: 300px;
  margin: auto;
  display: block;
}
#services-2 img {
  width: 300px;
  height: 300px;
  padding-bottom: 10px;
  margin: auto;
  display: block;
}
#services-2 p {
  width: 300px;
  margin: auto;
  display: block;
}
/*------end services-2 section-------*/

#vegetarisch{
	padding-top: 20px;
	margin:auto;
}

.d-block{
  
  margin: auto !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 70px;
  width: 70px;
  background-color: #97bd0d;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 41px;
  color: white;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 41px;
  color: white;
}

.impressies-p{
  padding: 30px 0 30px 0;
  width: 700px;
}

.impressies-onder{
  text-align: center;
}

/*------footer section-------*/
footer {
  background-image: url("https://puurzeeland.scalda-nvinke.ontwikkelonline.nl/wp-content/uploads/2020/11/patroontje.jpg");
  background-size: cover;
  margin-top: 100px;
  padding: 20px;
  width: 100%;
}
footer h5 {
  color: white;
}
.page-footer a {
  color: white;
}
.footer-copyright {
  color: white;
}
.page-footer h5 .page-footer .fa {
  font-size: 20px;
  padding-right: 10px;
}
/* footer .widgettitle{
  color: white !important;
} */
.widget{
  list-style-type: none;
  color: white;
  margin: auto;
  display: table;
}

.widget ul{
  padding: 0;
}

/*------end footer section-------*/

/*------Media Queries foto's------*/

@media screen and (max-width: 1025px) {
  #services img {
    width: 300px;
    height: 300px;
    padding-bottom: 10px;
    margin: auto;
    display: block;
}
section#banner img {
  width: 100%;
}
html {
  overflow-x: hidden;
}
}

@media screen and (max-width: 769px) {
  #services img {
    width: 350px;
    height: 350px;
    padding-bottom: 10px;
    margin: auto;
    display: block;
}
section#banner img {
  width: 100%;
}
html {
  overflow-x: hidden;
}
.navbar-nav ul li {
  float: right;
  text-align: left;
  clear:both
}
}

@media screen and (max-width: 426px) {
  #services img {
    width: 300px;
    height: 300px;
    padding-bottom: 10px;
    margin: auto;
    display: block;
}
section#banner img {
  width: 100%;
}
	
html {
  overflow-x: hidden;
}
.navbar-nav ul li {
  float: right;
  text-align: left;
  clear:both
}
}